fastapi[standard]==0.116.1
pydantic==2.11.7
pydantic-settings==2.10.1
loguru==0.7.3
asr-decoder==0.1.1
funasr==1.2.6
online-fbank==0.0.4
pysilero==0.1.1
sounddevice==0.5.2
soundfile==0.13.1
torch==2.3.0
torchaudio==2.3.0
pydub==0.25.1
onnx==1.18.0
onnxconverter_common==1.15.0
numpy==1.26.3
